@{
    ViewData["Title"] = "Register";
}


<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section id="account-login" class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <!-- image -->
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 p-0 text-center d-none d-md-block">
                        <div class="border-grey border-lighten-3 m-0 box-shadow-0 card-account-left height-400">
                            <img src="~/app-assets/images/pages/account-login.png" class="card-account-img width-200" alt="card-account-img">
                        </div>
                    </div>
                    <!-- login form -->
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 p-0">
                        <div class="card border-grey border-lighten-3 m-0 box-shadow-0 card-account-right height-400">
                            <div class="card-content">
                                <div class="card-body p-1">
                                    <p class="mb-1 text-center">Please enter your Data details for Regist</p>
                                    <form class="form-horizontal form-signin" asp-controller="Home" asp-action="Create" method="post">
                                        <fieldset class="form-label-group">
                                            <input type="text" class="form-control" id="Username" placeholder="Your Username" required="" name="Username">
                                            <label for="Username">Username</label>
                                        </fieldset>
                                        <fieldset class="form-label-group">
                                            <input type="email" class="form-control" id="user-email" placeholder="Your Email" required="" name="Email">
                                            <label for="user-email">Email</label>
                                        </fieldset>
                                        <fieldset class="form-label-group">
                                            <input type="password" class="form-control" id="user-password" placeholder="Enter Password" required="" minlength="6" name="Password">
                                            <label for="user-password">Password</label>
                                        </fieldset>
                                        <fieldset class="form-label-group">
                                            <input type="text" class="form-control" id="FullName" placeholder="Your Fullname" required="" name="FullName">
                                            <label for="FullName">Fullname</label>
                                            <input type="hidden" name="Role" value="Pengguna" />
                                        </fieldset>
                                        <button type="submit" class="btn-gradient-primary btn-block my-1">Register</button>
                                        <p class="text-center"><a asp-controller="Home" asp-action="Index" class="card-link">Login</a></p>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
@if (TempData["AlertMessage"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
                icon: '@TempData["AlertType"]',
                title: '@TempData["AlertMessage"]',
                showConfirmButton: false,
                timer: 3000
            });
        });
    </script>
}